*{
	margin: 0;
	padding: 0;
}

.navbar{
	border: 1px solid black;
	background-color: #BC8F8F;
	color: #F0FFFF;
}
a{
	color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
	font-family: Didot, serif;
	font-style: oblique;
	font-size: 20px;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: #20B2AA;

}
.container
{
	background-color: #BC8F8F;
}
.text-center{
	font-size: 42px;
	font-weight: bolder;
	color: #DAA520;
	font-family: Georgia, serif;
	font-style: oblique;
}

h3{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #DEB887;
	font-family: Palatino, URW Palladio L, serif;
	font-style: oblique;
	text-shadow: 3px 1px #000000;
	text-decoration: underline;   
	text-decoration-color: #D2B48C;
	text-decoration-style: dashed;
}


#collapsable-nav ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;
font-family: Apple Chancery, cursive;
font-style: oblique;
}